.App {
  text-align: center;
}

.movie-list{
  display: flex;
}

.Movie-card{
/*  background-color: black;
*/  width: 240px;
  height: 355px;
  padding: 0px 15px;
}

.card-hiddeninfo{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  padding-top: 15px;
  height: 330px;
  width: 230px;
  color: white;
}

.card-img{
  border: 5px solid black ;
  }

.button-green-download{
    background: green;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
}

figure{
  height: 355px;
  width: 240px;
  margin: 0;
  position: relative;
  background-color: black;
}

figure:hover .card-hiddeninfo{
  opacity: 1;
  border: 5px solid green ;
  
}

figure:hover .card-img{
  opacity: 0.3;
}